.title {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  @media only screen and (min-width: 1000px) {
    text-align: left;
  }
}

.description {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  color: rgba(black, 0.5);

  line-height: 1.8;

  @media only screen and (min-width: 1000px) {
    display: block;
    text-align: left;
    width: 450px;
    margin: 0;
  }
}
