/* Primary */
$sub-heading-color: hsl(276, 100%, 81%);
$chat-left-color: hsl(276, 55%, 52%);
$chat-right-color: hsl(271, 15%, 43%);
$placeholder-color: hsl(206, 6%, 79%);
$main-heading-color: hsl(271, 36%, 24%);
$paragraph-color: hsl(270, 7%, 64%);

/* Gradients */
$gradient-one: hsl(293, 100%, 63%);
$gradient-two: hsl(264, 100%, 61%);

/* Secondary */
$secondary-one: hsl(0, 0%, 100%);
$secondary-two: hsl(270, 20%, 96%);
$secondary-three: hsl(271, 36%, 24%);
$secondary-four: hsl(289, 100%, 72%);

/* Breakpoint */
$desktop-view: 1440px;